/* community page */
body {
  background-color: #fafafa;
}
.community_containor {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0 120px;
}
.community_header_wrap {
  color: #2a3e48;
  margin-bottom: 3rem;
  text-align: center;
}
.community_header_wrap > .community_header {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: 600;
}
.community_header_wrap > .community_header_info {
  font-size: 15px;
  margin-top: 30px;
}
.community_img {
  max-width: 1080px;
  margin: 0 auto;
}
.community_img > img {
  object-fit: cover;
}
