/* Shop page 전체 컨테이너 */
body {
  background-color: #fafafa;
}
.shop_containor {
  max-width: 1400px;
  margin: 0 auto;
  padding: 80px 0 120px;
}
@media screen and (max-width: 768px) {
  .shop_containor {
    max-width: 760px;
    margin: 0 auto;
  }
}
