.brandwork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  color: #2a3e48;
}
.brandwork > .brandwork__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;

  margin-top: 80px;
}
.brandwork > .brandwork__section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 50px 25px;
}
.brandwork > .brandwork__section > .brandwork__contents {
  padding: 0px 10px;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
}
.brandwork
  > .brandwork__section
  > .brandwork__contents
  > .brandwork__contents-image {
  width: 450px;
  height: 450px;

  object-fit: cover;
}

.brandwork
  > .brandwork__section
  > .brandwork__contents
  > .brandwork__contents-title {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.brandwork
  > .brandwork__section
  > .brandwork__contents
  > .brandwork__contents-sub {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;

  margin-bottom: 80px;
}
.brandwork > .brandwork__pageButton {
  display: flex;
  flex-direction: row;
}
.brandwork > .brandwork__pageButton > .brandwork__pageButton-first {
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #d7d5d5;

  color: #909090;
}
.brandwork > .brandwork__pageButton > .brandwork__pageButton-second {
  padding: 0;
  width: 34px;
  height: 34px;
  line-height: 34px;
  border: 1px solid #d7d5d5;

  color: #2a3e48;
  border-bottom: 2px solid#2a3e48;

  margin-bottom: 80px;
}
